body{
    padding-left: 20px;
    background-color: silver;
}
section {
    background-color: wheat;
    width: 40%;
    padding: 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    padding-left: 10px;
    padding-top: 5px;
}

p{
    font-size: 20px;
    text-align: justify;
    color: black;
    padding-left: 10px;
    padding-top: 5px;
    width: 500px;

}

img{
    width: 250px;
    height: 250px;
    padding-left: 5px;
    border-radius: 50%;

}

h2{
    color: rgb(179, 7, 7);
    padding-left: 10px;
    padding-top: 5px;
    font-size: 25px;
}

table{
    margin-left: 10px;
    margin-top: 5px;
    background-color: burlywood;
    text-align: center;
    border-collapse: collapse;
}

.comment{
    padding-left: 10px;
    padding-top: 8px;
}

.goals{
    padding-left: 10px;

}

.goals, h3{
    color: rgb(179, 7, 7);
}

.goals, ul{
    color: black;
    font-size: 20px;
}